# تجاهل ملفات الكاش الخاصة ببايثون
__pycache__/
*.pyc

# تجاهل ملف قاعدة البيانات لكي لا ترفع حساباتك السرية
quiz_game.db

# تجاهل مجلدات التحويل الخاصة بـ PyInstaller
build/
dist/
*.spec

# تجاهل ملفات البيئة المحلية
venv/

